<p><a id="logoLink" href="/"><img id="logo" src="/assets/images/concert-icon.jpg" alt="logo"/></a>THE CONCERT HUB</p>
<ul class="user-nav">
  <% if(status === 1) { %>
    <li><a href="/savedConnections">My Concerts</a></li>
    <li><a href="/logout">Log Out</a></li>
    <li><a href="/newConnection">Create New Concert</a></li>
<% } else { %>
    <li><a href="/login">Sign In</a></li>
    <li><a href="/signUp">Sign Up</a></li>
    <li><a href="/newConnection">Create New Concert</a></li>
  <% } %>
</ul>
