<ul class="general">
  <% if(status === 0) { %>
    <li><a href="/">Home</a></li>
    <li><a href="/connections">Concerts</a></li>
    <li><a href="/about">About</a></li>
  <% } else { %>
    <li><a href="/">Home</a></li>
    <li><a href="/connections">Concerts</a></li>
    <li><a href="/about">About</a></li>
    <li id="yolo"><a href="/myProfile">WELCOME <%= loginName.FirstName %>!</a></li>
  <% } %>

</ul>
