<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Concert Hub</title>
  <meta name="description" content="The Concert Hub">
  <meta name="author" content="Saumy">
  <link rel="stylesheet" href="/assets/stylesheets/default.css">
  <link href='https://fonts.googleapis.com/css?family=Cinzel%20Decorative' rel='stylesheet'>
</head>

<body>
  <header class="headers">
    <% include partials/header.ejs %>
    <% include partials/navigation.ejs %>
  </header>

  <main>
    <h4>Phone: 080-920-1990<br>Email: helpdesk@theconcerthub.com<br>Address: 9201 University Terrace Dr, Charlotte 28262</h4>
  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>
</html>
