<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Concert Hub</title>
  <meta name="description" content="The Concert Hub">
  <meta name="author" content="Saumy">
  <link rel="stylesheet" href="/assets/stylesheets/default.css">
  <link href='https://fonts.googleapis.com/css?family=Cinzel%20Decorative' rel='stylesheet'>
</head>

<body>
  <header class="headers">
    <% include partials/header.ejs %>
    <% include partials/navigation.ejs %>
  </header>

  <main>
    <div class="container">
      <form id = "login" method="post" action="/login/validate">
        <label for="username">Username/Email</label>
        <input type="email" id="username" name="username" placeholder="username" required>
        <% if(failure === "email") { %>
          <h6 class="error">No user registered with this email</h6>
        <% } %>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="password" required>
        <% if(failure === "password") { %>
          <h6 class="error">Incorrect Password</h6>
        <% } %>
        <% if(failure === "invalidPassword") {
          for(var i = 0; i < errorMessage.length; i++) { %>
            <h6 class="error"><%= errorMessage[i].msg %></h6>
          <% }
        }%>
        <input type="submit" class="formButton" value="Submit">
      </form>
    </div>
  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>
</html>
