<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Concert Hub</title>
  <meta name="description" content="The Concert Hub">
  <meta name="author" content="Saumy">
  <link rel="stylesheet" href="/assets/stylesheets/default.css">
  <link href='https://fonts.googleapis.com/css?family=Cinzel%20Decorative' rel='stylesheet'>
</head>

<body>
  <header class="headers">
    <% include partials/header.ejs %>
    <% include partials/navigation.ejs %>
  </header>

  <main>
    <div class="container">
      <form id = "createEvent">
        <label for="topic">Topic</label>
        <input type="text" id="topic" name="topic" placeholder="topic">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="name">
        <label for="details">Details</label>
        <input type="text" id="details" name="details" placeholder="description">
        <label for="where">Where</label>
        <input type="text" id="where" name="where" placeholder="location">
        <label for="eventDate">Date</label>
        <input type="date" id="eventDate" name="date" value="" min="2019-10-01" max="2025-12-31">
        <input type="submit" class="formButton" value="Submit">
      </form>
    </div>
  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>
</html>
