header, footer, main {
  display: block;
}

.headers {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    height: auto;
    font-family: 'Cinzel Decorative';
}

#concert {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
}

#logoLink {
  color: inherit;
}

.homeConcert {
  height: 70%;
  width: 70%;
  padding-left: 15%;
}

.hostImage {
  height: 25%;
  width: 25%;
  padding-left: 5%;
}

#logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border: 2px solid;
}

.user-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.user-nav li {
  float: right;
}

.user-nav li a {
  display: block;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.user-nav li a:hover {
  background-color: #111;
}

.general {
  background-color: #e2e3e5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.general li {
  float: left;
}

.general li a {
  color: #000;
  font-size: 14px;
  padding: 12px 14px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 200px;
  padding-bottom: 20px
}

h2.center {
  text-align: center;
}

h6.error {
  margin-block-start: unset;
  color: red;
}

h5.error {
  margin-block-start: unset;
  color: red;
}

#yolo {
  float:right !important;
}

.general li a:hover {
  background-color: #555;
  color: white;
}

body {
  background-image: url("../images/background2.jpg");
  background-size: cover;
}

main {
  max-width: 960px;
  width: 75%;
  height: auto;
  padding: 10px 20px;
  background-color: #e2e3e5;
  float: right;
  margin: 2px;
  position: relative;
  right: 15%;
  overflow: auto;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
    height: 10%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

#contact {
  display: block;
}

.categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

label.expandable{
  display: block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #fff;
  border-bottom: none;
}

label:hover{
  background-color: #555;
  color: white;
}

#last{
  border-bottom: 1px solid #fff;
}

.categories ul li{
  padding: 10px;
  background: #f1f1f1;
}


input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}

input[type="checkbox"]:checked + label{
  background-color: #555;
  color: white;
  border-bottom: 1px solid #fff;
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  float: right;
  padding: 4px 12px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

#artistTitle {
  display: inline-block;
}

#bookmark {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#bookmark td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bookmark tr:nth-child(even){background-color: #f2f2f2;}

#bookmark tr:hover {background-color: #ddd;}

#bookmark th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #b3cce6;
  color: white;
}

  input[type=text], input[type=date], input[type=password], input[type=email], input[type=time] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit and class=formButton] {
    background-color: #4C4C4C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit and class=formButton]:hover {
    background-color: #454545;
  }

  .simpleButton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
